@model UserRegistrationViewModel

<form method="post" asp-action="Index" asp-controller="Register" novalidate>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <button class="btn btn-success">SUBMIT</button>
    </div>
</form>
